.pagination {
    display: flex;
    flex-direction: column;
    position: fixed; /* Залишаємо фіксованою */
    top: 80px;
    left: 20px;
    z-index: 1000;
    opacity: 1; /* Початкова видимість */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Анімація для змін */
}

.pagination.hidden {
    transform: translateY(-20px); /* Злегка переміщуємо вгору */
    opacity: 0.5; /* Зменшена прозорість */
}


.pagination a {
    color: black;
    display: block;
    width: 50px;
    height: 50px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 5px 0;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
