{% extends 'base.html' %}


{% block navbar_addition %}
    
    <a id ="create" href="{% url 'English:create' %}" type="button" class="btn btn-dark">Create</a>
    <style>
        #create{
            color: #e77e51;
        }
    </style>
{% endblock %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'english/common_pagination.css' %}">
    <link rel="stylesheet" href="{% static 'english/common_SCSSstyle.css' %}">

    {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
    {% endif %}
    

    {% for page_obj in page %}
    <form action="{% url 'English:execute' page_obj.id %}" method="post"></form>
        <div class="card text-bg-dark position-relative">
            <svg class="bd-placeholder-img bd-placeholder-img-lg card-img" width="100%" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">{{ page_obj.name}}</text>
            </svg>
            <div class="card-img-overlay">
                <p class="card-text">{{page_obj.sentence|safe}}</p>
                <p class="card-text"><small>{{page_obj.publish_date}}</small></p>
            </div>
            <button  type="button" class="btn btn-outline-light position-absolute bottom-10 end-10">Execute</button>
        </div>
    </form>
    {% endfor %}

    <div class="pagination">
        {% if page.has_previous %}
            {% if page_previously3 %}
                <a href="{% url 'English:common' page_previously3 %}" class="text-light">{{ page_previously3 }}</a>
            {% endif %}
            {% if page_previously2 %}
                <a href="{% url 'English:common' page_previously2 %}" class="text-light">{{ page_previously2 }}</a>
            {% endif %}
            <a href="{% url 'English:common' page.previous_page_number %}" class="text-light">{{ page.previous_page_number }}</a>
        {% endif %}
    
        <a href="#" class="active">{{ page_number }}</a>
    
        {% if page.has_next %}
            <a href="{% url 'English:common' page.next_page_number %}" class="text-light">{{ page.next_page_number }}</a>
            {% if page_subsequent2 %}
                <a href="{% url 'English:common' page_subsequent2 %}" class="text-light">{{ page_subsequent2 }}</a>
            {% endif %}
            {% if page_subsequent3 %}
                <a href="{% url 'English:common' page_subsequent3 %}" class="text-light">{{ page_subsequent3 }}</a>
            {% endif %}
        {% endif %}
    </div>
    
        
    </div>
    <script>
        let lastScrollTop = 0; // Змінна для зберігання останньої позиції прокрутки
    
        window.addEventListener("scroll", function() {
            let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
    
            // Перевіряємо напрямок прокручування
            if (currentScroll > lastScrollTop) {
                // Прокрутка вниз
                document.querySelector('.pagination').classList.add('hidden');
            } else {
                // Прокрутка вгору
                document.querySelector('.pagination').classList.remove('hidden');
            }
            
            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Для мобільних пристроїв
        });
    </script>
    
    
    
{% endblock %}
